.title-home {
  margin: 20rem 0 0 5rem;
}

.title-home p {
  font-size: 15px;
  color: white;
  text-align: left;
  width: 25rem;
}

.title-home h2 {
  width: 10rem;
  font-size: 30px;
  color: white;
  text-align: left;
  padding: 0;
}
